.header {
  background: var(--gray-700);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  min-height: 80px;
  max-height: 250px;
  padding-block: 1.5rem;
}

.header img {
  height: 100%;
  max-height: 3rem;
}